@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* 
================================
Variables
================================
*/
:root {

    /* Primary */
    /*  */
    --palesalmon: hsl(6, 100%, 80%);
    --hotpink: hsl(335, 100%, 65%);


    /* Neutral */
    --paleblue: hsl(243, 100%, 93%);
    --grayishblue: hsl(229, 7%, 55%);
    --darkblue: hsl(228, 56%, 26%);
    --verydarkblue: hsl(229, 57%, 11%);

    /* font family */
    --font-family: 'Raleway', sans-serif;
    
}


/* 
================================
Global Styles
================================
*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {font-size: 87.5%;} /*14px*/


body {
    background: var(--verydarkblue);
    background-image: url(/images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 1.75;
    color: var(--paleblue);
}

.img {
    display: block;
    width: 100%;
    object-fit: contain;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--dark-blackish-blue);
    margin-top: 0.5rem;
}

.attribution a {
    color: hsl(26, 91%, 57%);
}

.sr-only{
    border:0; 
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

main {
    display: grid;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    align-content: center;
    grid-template-columns: 300px;
    grid-template-rows: minmax(200px, 250px);
    border: 2px solid wheat;
    padding:1rem;
}

.logo-card {
    padding: 2rem;
    border-top-right-radius: 6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    background: var(--darkblue);
}

.logo-container {
    border: 2px solid red;
}

.logo-img {
    width: 100%;
}
.icon-container {
    border: 2px solid orange;
    display: flex;
    
}


.btn {
    display: inline-block;
    border:transparent;
    cursor: pointer;
    background: var(--darkblue);
    height: 4rem;
}

.icon {
    height: 100%;
    width: 50px;
    height: 50px;
    background: var(--verydarkblue);
    border-radius: 0.75rem;
    display: inline;
    padding: 1rem;
    border: 2px solid red;
    border-radius: 1rem;
    margin-right : 2rem;
}


.usage-card {
    border: 2px solid aquamarine;
    align-self: flex-start;
    background: var(--darkblue);
    border: transparent;
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
}

.usage-card h2 {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: var(--grayishblue);
}


progress {
    opacity: 0;
}

.progress-element {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

.progress-container {
    position: relative;
    border: 2px solid yellow;
    /* width: 80%; */
    /* margin-left: 2rem; */
    background: var(--verydarkblue);
    height: 1.07rem;
    border-radius: 25px;
    overflow: hidden;
    margin-top: 1rem;
}


.progress-container::before {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 82%;
    background: linear-gradient(75deg, var(--palesalmon) 10% , var(--hotpink));
    border-radius: 25px;
}

.progress-start {
    position: relative;
    margin-top: 0.5rem;
    font-weight: 700;
    display: flex;
     justify-content: space-between;
}

.progress-start::after {
    content: "1000 GB";
   
    /* position: absolute;
    top:0;
    right: 100px; */
}

.progress-bubble {
    height: 0.95rem;
    width: 0.95rem;
    position: absolute;
    border-radius: 100%;
    background: white;
    top: 97px;
    left: 221px;

}

.gb-left-container {
    height: 5rem;
    width: 13rem;
    text-transform: uppercase;
    border-radius: 0.5rem;
    background:  white ;
    display: flex;
    color: var(--verydarkblue);
    font-size: 2.5rem;
    font-weight: 700;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    top: 80%;
    left: 20%;
}

.gb-left {
    font-size: 0.95rem;
    margin-left: 0.5rem;
    font-weight: 700;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--grayishblue);
}

.bold {
    font-weight: 700;
    color: var(--paleblue);
}
/* 
==================================
Media Query
==================================
*/

@media screen and (min-width: 1040px) {

    body {
       background-image: url(/images/bg-desktop.png);
    }
    main {
        grid-template-columns: 350px 600px;
        grid-template-columns: 400px 600px;
        grid-template-rows: 280px;
        gap: 20px;
        align-content: center;
    }

    .logo-card {
        height: 300px;
        border-top-right-radius: 10rem;
        justify-content: center;
        align-self: flex-end;
    }
    .usage-card {
        align-self: end;
        padding: 0 2rem;
        justify-content: flex-end;
    }
    .usage-card h2 {
        text-align: left;
    }

    progress-element {
        border: 2px solid red;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    
    }
    .progress-bubble {
        left: 459px;
        top: 84px;
        display: flex;
    }


    .progress-container {
        margin-left: 0; 
    }

    .gb-left-container {
        top: -80%;
        left: 25%;
        position: relative;
        border-bottom-right-radius: 0;
    }

    .gb-left-container::after {
        content: "";
        border: 20px solid transparent;
        position: absolute;
        bottom: 0;
        left: 95%;
        width: 0;
        height: 0;


    /* border-top-color: white; */
	/* border-bottom: 0; */
	/* border-right: 0; */
    
	/* margin-left: -10px;
	margin-bottom: -20px;

    border-width: 20px 20px 20px  0;
    border-style: solid;
    border-color: white white transparent transparent; */


    left: auto;
	right: 0px;
	bottom: -20px;
	border: 22px solid;
    border-color: white white transparent transparent;
}

.gb-left-container {
    
    align-items: flex-start;
    display: flex;
    align-items: center;
}

.gb-left-container p {
    align-self: center;
}
.gb-left-container span {
    align-self: auto;
}

}
