@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* 
================================
Variables
================================
*/
:root {

    /* Primary */
    /*  */
    --palesalmon: hsl(6, 100%, 80%);
    --hotpink: hsl(335, 100%, 65%);


    /* Neutral */
    --paleblue: hsl(243, 100%, 93%);
    --grayishblue: hsl(229, 7%, 55%);
    --darkblue: hsl(228, 56%, 26%);
    --verydarkblue: hsl(229, 57%, 11%);
    --verydarkblue-1: hsla(228, 60%, 17%, 0.7);
    /* font family */
    --font-family: 'Raleway', sans-serif;    
}


/* 
================================
Global Styles
================================
*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {font-size: 87.5%;} /*14px*/


body {
    background: var(--verydarkblue);
    background-image: url(/images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 1.75;
    color: var(--paleblue);
}

.img {
    display: block;
    width: 100%;
    object-fit: contain;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--dark-blackish-blue);
    margin-top: 0.5rem;
}

.attribution a {
    color: hsl(26, 91%, 57%);
}

.sr-only{
    border:0; 
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

main {
    display: grid;
    justify-content: center;
    min-height: 100vh;
    /* align-items: center; */
    align-content: center;
    grid-template-columns: 350px;
    /* padding:1rem; */
    gap: 1rem;
}

/* Logo and icons */
.logo-card {
    height: 200px;
    padding: 3rem;
    border-radius: 0.75rem;
    border-top-right-radius: 6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    background: var(--darkblue);
}

.logo-img {
    /* width: 100%; */
}

.icon-container {
    /* display: flex; */
}

.btn {
    /* display: inline-block; */
    border:transparent;
    cursor: pointer;
    background: var(--darkblue);
    height: 4rem;
}

.icon {
    /* height: 100%; */
    width: 50px;
    height: 50px;
    background: var(--verydarkblue);
    /* border-radius: 0.75rem; */
    /* display: inline; */
    padding: 1rem;
    border-radius: 1rem;
    margin-right : 2rem;
}

/* Storage space */
.usage-card {
    height:200px;
    /* align-self: flex-start; */
    background: var(--darkblue);
    /* border: transparent; */
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
}

.usage-card h2 {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: var(--paleblue);
}


/* Storage space indicator */
progress {
    opacity: 0;
}

.progress-element {
    /* display: flex; */
    /* flex-direction: column; */
}

.progress-container {
    position: relative;
    background: var(--verydarkblue-1);
    height: 1.07rem;
    border-radius: 25px;
    overflow: hidden;
    margin-top: 1rem;
}

/*  Color gradient in progress bar*/
.progress-container::before {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 82%;
    background: linear-gradient(75deg, var(--palesalmon) 10% , var(--hotpink));
    border-radius: 25px;
}

/* Storage range values */
.progress-start {
    /* position: relative; */
    margin-top: 0.5rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

.progress-start::after {
    content: "1000 GB";
}

/* White circle on storage indicator */
.progress-bubble {
    height: 0.75rem;
    width: 0.75rem;
    position: absolute;
    border-radius: 100%;
    background: white;
    top: 49%;
    left: 76%;
}

/* Storage remaining message box */
.gb-left-container {
    height: 5rem;
    width: 13rem;
    text-transform: uppercase;
    border-radius: 0.5rem;
    background:  white ;
    display: flex;
    color: var(--verydarkblue);
    font-size: 2.5rem;
    font-weight: 700;
    position: absolute;
    justify-content: center;
    align-items: center;
    /* align-self: center; */
    top: 80%;
    left: 20%;
}

.gb-left {
    font-size: 0.95rem;
    margin-left: 0.5rem;
    font-weight: 700;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--grayishblue);
}

.bold {
    font-weight: 700;
    color: var(--paleblue);
}

/* 
==================================
Media Query
==================================
*/

@media screen and (min-width: 1040px) {

    body {
        background-image: url(/images/bg-desktop.png);
        background-size: contain;
        background-position: top 110% left -55%;   
    }

    main {
        grid-template-columns: 400px 600px;
        grid-template-rows: 200px;
        gap: 20px;
    }

    .logo-card {
        border-top-right-radius: 10rem;
        padding: 2.5rem;
    }

    .usage-card {
        display: block;
        height: 80%;
        align-self: end;
        padding: 1rem 2rem;
    }

    .usage-card h2 {
        text-align: left;
        margin-top: 2.5rem;
    }

    progress-element {
        /* display: block; */
    }

    .progress-bubble {
        left: 77%;
        top: 56%;
    }

    .progress-container {
        /* margin-left: 0;  */
    }

    .gb-left-container {
        top: -130%;
        left: 55%;
        position: relative;
        /* align-items: flex-start; */
        /* display: flex; */
        /* align-items: center; */
    }

    .gb-left-container::after {
        content: "";
        border: 20px solid transparent;
        position: absolute;
        /* left: auto; */
        right: 0px;
        bottom: -20px;
        /* border: 22px solid; */
        border-color: white white transparent transparent;
    }

    .gb-left-container p {
        /* align-self: center; */
    }

    .gb-left-container span {
        /* align-self: auto; */
    }

}
